n8n-workflow-delice-reservation.json
{
  "name": "Délice Desserts — Réservations",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delice-reservation",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-reservation",
      "name": "Webhook Réservation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-96, 300],
      "webhookId": "delice-reservation"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.body || $input.item.json;\n\nconst dateObj = new Date(data.date + 'T00:00:00');\nconst dateFormatted = dateObj.toLocaleDateString('fr-BE', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nconst timestamp = data.timestamp || new Date().toISOString();\nconst receivedAt = new Date(timestamp).toLocaleDateString('fr-BE', {\n  day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit'\n});\n\nconst notesRow = data.notes\n  ? `<tr>\n      <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Notes</td>\n      <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\">${data.notes}</td>\n    </tr>`\n  : '';\n\nconst html = `\n<div style=\"font-family:'Helvetica Neue',Arial,sans-serif;max-width:600px;margin:0 auto;background:#1a0e18;border-radius:16px;overflow:hidden;\">\n  <div style=\"background:linear-gradient(135deg,#2D1F2D,#E8A0B4);padding:32px;text-align:center;\">\n    <h1 style=\"margin:0;font-size:22px;color:white;font-weight:700;\">Nouvelle Réservation</h1>\n    <p style=\"margin:8px 0 0;color:rgba(255,255,255,0.8);font-size:13px;\">Délice Desserts — Site web</p>\n  </div>\n  <div style=\"padding:32px;\">\n    <table style=\"width:100%;border-collapse:collapse;\">\n      <tr>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Nom</td>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\">${data.nom || '-'}</td>\n      </tr>\n      <tr>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Téléphone</td>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\"><a href=\"tel:${data.telephone || ''}\" style=\"color:#E8A0B4;text-decoration:none;\">${data.telephone || '-'}</a></td>\n      </tr>\n      ${notesRow}\n    </table>\n    <div style=\"margin-top:24px;padding:20px;background:rgba(208,122,148,0.15);border-radius:12px;border:1px solid rgba(208,122,148,0.25);\">\n      <table style=\"width:100%;border-collapse:collapse;\">\n        <tr>\n          <td style=\"padding:8px 0;color:#E8A0B4;font-size:13px;\">Date</td>\n          <td style=\"padding:8px 0;color:white;font-size:16px;font-weight:700;text-align:right;\">${dateFormatted}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:8px 0;color:#E8A0B4;font-size:13px;\">Heure</td>\n          <td style=\"padding:8px 0;color:white;font-size:16px;font-weight:700;text-align:right;\">${data.heure || '-'}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:8px 0;color:#E8A0B4;font-size:13px;\">Personnes</td>\n          <td style=\"padding:8px 0;color:white;font-size:16px;font-weight:700;text-align:right;\">${data.personnes || '-'}</td>\n        </tr>\n      </table>\n    </div>\n    <div style=\"margin-top:24px;padding:12px 16px;background:rgba(255,255,255,0.05);border-radius:10px;border:1px solid rgba(255,255,255,0.08);\">\n      <p style=\"margin:0;color:#666;font-size:12px;\">Reçu le ${receivedAt} — source: site web</p>\n    </div>\n  </div>\n</div>`;\n\nreturn { json: { subject: `Réservation — ${dateFormatted} à ${data.heure} — ${data.nom || 'Client'}`, html } };"
      },
      "id": "code-format-reservation",
      "name": "Formater Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 300]
    },
    {
      "parameters": {
        "fromEmail": "Délice Desserts <info@synaplink.be>",
        "toEmail": "ashot.avakian5000@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email-reservation",
      "name": "Envoyer Email (KSuite)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [384, 300],
      "credentials": {
        "smtp": {
          "id": "QTzxdQnruM8saQ1H",
          "name": "SMTP account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {}
      },
      "id": "respond-webhook-reservation",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [624, 300]
    }
  ],
  "connections": {
    "Webhook Réservation": {
      "main": [
        [
          {
            "node": "Formater Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Email": {
      "main": [
        [
          {
            "node": "Envoyer Email (KSuite)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email (KSuite)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "574e2975ca785d811648c3f05ddd6e94c0d1d8904428e80a003563e589b63ba0"
  }
}
