n8n-workflow-delice-orders.json
{
  "name": "Délice Desserts — Commandes Cookies",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delice-orders",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Commande",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-96, 300],
      "webhookId": "delice-orders"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst items = body.items || [];\nconst customer = body.customer || {};\nconst total = body.total || 0;\nconst timestamp = body.timestamp || new Date().toISOString();\n\nconst date = new Date(timestamp).toLocaleDateString('fr-BE', {\n  day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit'\n});\n\nconst itemRows = items.map(i =>\n  `<tr>\n    <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">${i.name}</td>\n    <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:center;\">x${i.quantity}</td>\n    <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\">${(i.price * i.quantity).toFixed(2)} EUR</td>\n  </tr>`\n).join('');\n\nconst html = `\n<div style=\"font-family:'Helvetica Neue',Arial,sans-serif;max-width:600px;margin:0 auto;background:#1a0e18;border-radius:16px;overflow:hidden;\">\n  <div style=\"background:linear-gradient(135deg,#2D1F2D,#D07A94);padding:32px;text-align:center;\">\n    <h1 style=\"margin:0;font-size:22px;color:white;font-weight:700;\">🍪 Nouvelle Commande</h1>\n    <p style=\"margin:8px 0 0;color:rgba(255,255,255,0.8);font-size:13px;\">Délice Desserts — Site web</p>\n  </div>\n  <div style=\"padding:32px;\">\n    <table style=\"width:100%;border-collapse:collapse;\">\n      <tr>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Nom</td>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\">${customer.nom || '-'}</td>\n      </tr>\n      <tr>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Téléphone</td>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\"><a href=\"tel:${customer.telephone || ''}\" style=\"color:#E8A0B4;text-decoration:none;\">${customer.telephone || '-'}</a></td>\n      </tr>\n      <tr>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Mode</td>\n        <td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\">${customer.mode || '-'}</td>\n      </tr>\n      ${customer.notes ? `<tr><td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:#a0a0a0;font-size:13px;\">Notes</td><td style=\"padding:12px 0;border-bottom:1px solid rgba(255,255,255,0.1);color:white;font-size:14px;font-weight:600;text-align:right;\">${customer.notes}</td></tr>` : ''}\n    </table>\n    <div style=\"margin-top:24px;\">\n      <p style=\"margin:0 0 12px;color:#E8A0B4;font-size:15px;font-weight:600;\">Articles commandés</p>\n      <table style=\"width:100%;border-collapse:collapse;\">\n        <thead>\n          <tr style=\"border-bottom:2px solid rgba(208,122,148,0.3);\">\n            <th style=\"padding:8px 0;text-align:left;color:#a0a0a0;font-size:12px;font-weight:500;\">Article</th>\n            <th style=\"padding:8px 0;text-align:center;color:#a0a0a0;font-size:12px;font-weight:500;\">Qté</th>\n            <th style=\"padding:8px 0;text-align:right;color:#a0a0a0;font-size:12px;font-weight:500;\">Sous-total</th>\n          </tr>\n        </thead>\n        <tbody>${itemRows}</tbody>\n      </table>\n    </div>\n    <div style=\"margin-top:24px;padding:16px;background:rgba(208,122,148,0.15);border-radius:12px;border:1px solid rgba(208,122,148,0.25);text-align:right;\">\n      <span style=\"color:#E8A0B4;font-size:13px;\">Total : </span>\n      <span style=\"color:white;font-size:22px;font-weight:700;\">${total.toFixed(2)} EUR</span>\n    </div>\n    <div style=\"margin-top:24px;padding:12px 16px;background:rgba(255,255,255,0.05);border-radius:10px;border:1px solid rgba(255,255,255,0.08);\">\n      <p style=\"margin:0;color:#666;font-size:12px;\">Reçu le ${date} — source: site web</p>\n    </div>\n  </div>\n</div>`;\n\nreturn { json: { subject: `🍪 Nouvelle commande — ${customer.nom || 'Client'}`, html } };"
      },
      "id": "code-format",
      "name": "Formater Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 300]
    },
    {
      "parameters": {
        "fromEmail": "Délice Desserts <info@synaplink.be>",
        "toEmail": "ashot.avakian5000@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Envoyer Email (KSuite)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [384, 300],
      "credentials": {
        "smtp": {
          "id": "QTzxdQnruM8saQ1H",
          "name": "SMTP account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [624, 300]
    }
  ],
  "connections": {
    "Webhook Commande": {
      "main": [
        [
          {
            "node": "Formater Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Email": {
      "main": [
        [
          {
            "node": "Envoyer Email (KSuite)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Email (KSuite)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "574e2975ca785d811648c3f05ddd6e94c0d1d8904428e80a003563e589b63ba0"
  }
}
